{% extends 'base.html' %}
{% load extras %}
{% load humanize %}
{% load static %}

{% block title %} BlogPost {% endblock title %}

{% block body %}
  <div class="container my-3">
   <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
   </div>
  </div>

    <div class="container mt-5 mb-5">
    <h3>Comments :</h3>

    <div class="d-flex justify-content-center row bg-light">
        <div class="col-md-10 my-2">

         {% if user.is_authenticated %}

            <form action="/blog/blogComment" method="POST">
                 {% csrf_token %}

            <div class="d-flex flex-row align-items-center add-comment p-2 bg-white rounded"><img class="rounded-circle" src="/static/images/userAvatar.png" width="45">

                <input type="text" class="form-control border-0 no-box-shadow mx-2" name="comment" placeholder="Leave a constructive comment..." required>
                <input type="hidden" name="postSno" value="{{post.sno}}" >
                <input type="hidden" name="parentSno" value="" >

                <button class="btn btn-primary btn-sm border-0 px-3" type="submit" value="Submit">Comment</button>
            </div>
            </form>

         {% else %}

             <div type="text" class="form-control border-0 no-box-shadow mx-2" required>Please <strong>login</strong> to post a comment
             </div>

         {% endif %}

         {% for comment in comments %}

            <div class="p-3 bg-white mt-2 rounded">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row user"><img class="rounded-circle img-fluid img-responsive mr-1" src="/static/images/userAvatar.png" width="45" alt="UserAvatar">
                        <div class="d-flex flex-column ml-2"><span class="font-weight-bold">@{{ comment.user.username }}</span><span class="commentTime"><small>{{comment.time | naturalday}}</small></span></div>
                    </div>
{#                    <div class="d-flex align-items-center px-3 heart border"><i class="fa fa-heart heart-icon"></i><span class="ml-2">35</span></div>#}
{#                    <div class="d-flex justify-content-end align-items-center comment-buttons mt-2 text-right">#}
{#                        <button class="btn btn-success btn-sm border-0 px-3 data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}" type="button">Reply</button>#}
                    {% if user.is_authenticated %}
                     <button class="btn btn-sm btn-success float-right border-0 px-3 my-2" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                     Reply
                     </button>
                    {% else %}
                        <button class="btn btn-sm btn-success float-right border-0 px-3 my-2 disabled" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                     Reply
                    {% endif %}


                </div>
                <div class="comment-text text-justify mt-2">
                    <p>{{ comment.comments }}</p>
                </div>

            {% if user.is_authenticated %}
            {#   REPLY comment  #}
                <div class="collapse reply" id="replyBox{{comment.sno}}">
                    <div class="card card-body ml-5 mr-2 p-1 text-right row">
                        <form action="/blog/blogComment" method="POST">
                            {% csrf_token %}

                            <div class="d-flex flex-row align-items-center add-comment p-2 bg-white rounded"><img class="rounded-circle img-fluid img-responsive" src="/static/images/userAvatar.png" width="45">

                                <input type="text" class="form-control border-0 no-box-shadow mx-2" name="comment" placeholder="Enter comment here">
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                <input type="hidden" name="postSno" value="{{post.sno}}">
                                <button type="submit" class="btn btn-primary btn-sm border-0 px-3">Comment</button>

                            </div>

                        </form>
                    </div>
                </div>

            {% endif %}


            {#   REPLY BOX  #}
               <div class="replies p-3 ml-5 mr-2 mt-2 rounded">

                    {% for reply in replyDict|get_val:comment.sno %}

                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row user"><img class="rounded-circle img-fluid img-responsive" src="/static/images/userAvatar.png" width="45">
                        <div class="d-flex flex-column ml-2"><span class="font-weight-bold">@{{ reply.user.username }}</span><span class="commentTime"><small>{{reply.time | naturalday}}</small></span></div>
                    </div>
                </div>
                <div class="comment-text text-justify mt-2">
                    <p>{{ reply.comments }}</p>
                </div>


                     {% endfor %}
               </div>


            </div>
         {% endfor %}

        </div>
    </div>
  </div>
 {% endblock %}